
body {
    background-color: #EEEEEE;
}
/* Navigasi */
.header{
    border-bottom: 1px solid black;
    height: 60px;
    width: 100%;
    background-color: #C4FB6D;
    color: white;
}

#section-home h1 {
    font-family: 'Times New Roman', Times, serif,;
    font-size: 18px;
}

#section-profile {
    height: 500px;
}

#section-profile .main {
    float: left;
    width: 600px;
    margin: 20px 0px 0px 100px ;
}

#section-profile .sidebar {
    float: right;
    width: 300px;
    margin:20px 100px 0px 0px;
}

.logo-icon {
    float: left;
    height: 50px;
    padding: 8px 0px 0px 10px;
}

.logo-icon img {
    border: 1px solid black;
    border-radius: 50px;
}

nav>a {
    float:right;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin : 8px 0px 0px 10px;
}

nav>a:hover {
    background-color: #393E46;
    color: #F7FF56;
    border: 1px white solid;
    border-radius: 5px;
}

/* Profile */
#section-profile {
    margin-bottom: 50px;
}

#section-profile p {
    font-family: 'Times New Roman', Times, serif,;
    font-size: 20px;

}

/* Message Us */
#section-message {
    border: 1px solid ;
    font-family: 'Times New Roman', Times, serif,;
    height: 550px;
    border-radius: 5px;
    width: 85%;
}

#section-message form {
   background-color: ; 
   padding: 20px;
   border: 1px solid black;
   border-radius: 5px;
   display: inline-block;
   margin: 0px 0px 0px 20px;
   float: left;
}

#section-message div {
    background-color: ;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    float: right;
    margin : 50px 100px 0px 0px;
}

#section-message h1 {
    padding: 20px;
}

#section-message #nama-panjang {
    background-color: ;
    margin: 0px 0px 0px 0px;    
}

#section-message #tanggal-lahir {
    background-color: ;
    border-radius: 7px;
}

#section-message .gender {
    background-color: ;
    border-radius: 7px;
}

#section-message textarea {
    background-color: ;
    border-radius: 7px;
}

#section-message #pesan {
    width: 150px;
    background-color: ;
    border-radius: 7px;
}

#section-message #submit {
    background-color: ;
    color: white;
    border-radius: 7px;
    width: 150px;
    margin: 0px 0px 0px 100px ;
}

/* FOOTER */
















/* Microclear Float */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

